body {
    font-family: 'Vazir', sans-serif;
    padding: 20px;
    background-color: #f9f9f9;
    color: #333;
    text-align: right;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.video-thumbnail {
    width: 100px;
    height: auto;
    border-radius: 8px;
}

.footer {
    background-color: #ff0000; /* رنگ قرمز یوتیوب */
    color: #fff;
    padding: 20px 0;
    margin-top: 40px;
    text-align: right;
}

.footer h5 {
    color: #fff;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer ul {
    padding-left: 0;
    list-style: none;
}

.footer ul li {
    margin-bottom: 10px;
}

.btn-primary {
    background-color: #ff0000; /* رنگ قرمز یوتیوب */
    border-color: #ff0000;
}

.btn-primary:hover {
    background-color: #cc0000;
    border-color: #cc0000;
}

.alert-danger {
    background-color: #ffcccc;
    border-color: #ff6666;
    color: #cc0000;
}

.dataTables_wrapper .dt-buttons {
    margin-bottom: 10px;
}

#channelInfo {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}